.cui-interaction {
    margin-bottom: $bubble-margin;
    clear: both;
    &__avatar {
        margin-right: $bubble-content-margin;
        float: left;
    }
    &__content {
        @include clearfix;
    }
    &__text {
        margin-bottom: $bubble-content-margin;
        p:last-child {
            margin: 0;
        }
    }
    &__name {
        font-weight: bold;
        float: left;
        margin-right: $bubble-content-margin / 2;
    }
    &__footer {
        font-size: 11px;
        line-height: 1;
        color: $text-gray;
        font-family: $base-font;
        font-weight: 500;
    }
}

.cui-interaction--default {
    .cui-interaction__content {
        margin-left: $bubble-content-margin + $avatar-size;
        font-size: 17px;
        line-height: 30px;
        font-family: $serif;
    }
    .cui-interaction__text {
        margin-bottom: 0;
    }
}

.cui-interaction--human {
    float: right;
    .cui-interaction__footer {
        text-align: right;
        float: right;
    }
}
.cui-interaction--answer {
    .cui-interaction__footer--enter {
        padding-right: 15px;
        background: url(get-asset('enter.svg')) no-repeat right center;
    }  
}
