@function get-asset($path) {
    @return $assets-path + $path;
}

@mixin create-bubble-state($state, $background-color, $text-color) {
    #{$state} {
        background-color: $background-color;
        border-color: $background-color;
        color: $text-color;
        @content;
    }
}

@mixin bubble {
    display: inline-block;
    text-align: left;
    padding: 5px $bubble-padding * 2 5px $bubble-padding;
    color: $bubble-text-color;
    font-family: $base-font;
    border: 1px solid $bubble-text-color;
    font-weight: 400;
    @include border-left-radius($bubble-radius);
    @include border-right-radius($bubble-radius);

    @include create-bubble-state('&.is-selected', $bubble-color, $font-main-color);
    @include create-bubble-state('&:hover', $bubble-color-focus, $font-main-color);
    @include create-bubble-state('&.is-disabled', $bubble-color-disabled, $font-main-color) {
        &:hover {
            cursor: auto;
        }
    }
    @include create-bubble-state('&:not(.is-disabled):active', $bubble-color-focus, $font-main-color) {
        box-shadow: inset 0 1px 1px 0 rgba(104, 141, 141, .5);
    }
}
