
//colors
$font-main-color: #456867;

$border-color: #77B1BB;
$border-color-hover: #71D0CF;

$bubble-color: #A9D8D7;
$bubble-color-focus: #9ECDCC;
$bubble-color-empty: #8CD4E0;
$bubble-color-disable: #E6F0F2;

$text-gray: transparentize(#2F414E, .6);
