.cui-field {
    .cui-field__button {
        background-color: transparent;
        border: 0;
        display: inline-block;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 0;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
        &:active {
            top: 1px;
        }
    }
}
